/**
 * 
 *
 */
html
{
    min-height: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height:100%;
    min-height:100%;
    font-size: 85%;
    font-family: Arial, Verdana, sans-serif;
}

.conteiner {
    margin: 0 auto 0 auto;
    width: 960px;
    position: relative;
    min-height: 100%;

}

.conteiner .title {
    background-color: #D0D0D0;
    line-height: 90px;
    height: 90px;
    width: 100%;
    font-size: 24px;

    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.conteiner .title span
{
padding-left:30px;
}
.conteiner .menu {
    clear: both;
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 20px;
}

.conteiner .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.conteiner .menu ul li {
    float: left;
    margin-right: 20px;
}

.conteiner .menu ul li a
{
    color: #002166;
    text-decoration: none;
}
.conteiner .menu ul li a:hover
{
    text-decoration: underline;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.conteiner .footer
{
    position: absolute;
    bottom: 0;
    background-color: #D0D0D0;
    height: 50px;
    width: 100%;
    display: block;

    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.conteiner .listtable
{
    border-collapse: collapse;
    border-spacing: 0;

}
.conteiner .listtable td
{
    padding: 6px;
    border: 1px solid #444444;
}
.conteiner .listtable th
{
    padding: 6px;
    background-color: #D0D0D0;
    border: 1px solid #444444;
}
/**
Классы которые могу использоваться везде
*/
.error div
{
    margin: 5px;
    border: 1px solid #CC0000;
    background-color: #E13300;
    color: #ffffff;
    padding: 5px;
    display: inline-table;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.index_text
{
    margin: 50px auto 50px auto;
    padding: 30px;
    border: 1px solid #000;
    background-color: #83ccc7;
    font-size: 20px;
    display: inline-table;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.message
{
    margin: 50px auto 50px auto;
    padding: 30px;
    border: 2px solid #000;
    background-color: #63cca5;
    font-size: 20px;
    display: inline-table;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}